name: Generate Changelog
on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  build:

    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Build Changelog
        id: github_release_changelog
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          configuration: ".github/changelog_config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Write Changelog to File
        run: |
          # Añadimos los nuevos cambios al principio del archivo existente
          echo "${{ steps.github_release_changelog.outputs.changelog }}" > NEW_CHANGES.md
          if [ -f CHANGELOG.md ]; then
            cat CHANGELOG.md >> NEW_CHANGES.md
          fi
          mv NEW_CHANGES.md CHANGELOG.md

      - name: Commit del Changelog
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: update CHANGELOG.md [skip ci]"
          file_pattern: "CHANGELOG.md"
